In [45]:
#
import numpy as np
import pandas as pd


# ^ Create a DataFrame (2D table)

data = {
    "Employee": ["Youssef", "Toka", "Abdelrahman", "Maher"],
    "Company": ["Kiwilytics", "PwC", "EY", "KPMG"],
    "Experience_Years": [5, 7, 3, 9],
}

df = pd.DataFrame(data)

print(df)

print('\n')

# ^ set a value in dataframe to be null
df.loc[1,"Company"]=np.nan

# print(df)
# ^ display number of nulls in each column
nsum =df.isna().sum()
# print('\n')
# print(nsum)
# ^ drop row with null or missing values
# print('\n')
# print(df.dropna())

# print('\n')
# print(df)
# print('\n')
# ^ Selecting columns
# print(df['company'])

# ^ Selecting multi columns
# print(df[["name",'company']])

# print('\n')
# ^ Selecting rows
# * by label

# print(df.loc[2])
# print('\n')
# * by position

# ^ Filtering: Employees with more than 5 years

# print(df[df["Experience_Years"]>5])
# ^ Filter: Working at Kiwilytics
print('\n')
# print(df[df["Company"]=="Kiwilytics"])

# print("ðŸ”¸ Kiwilytics Team:\n", df[df["Company"] == "Kiwilytics"], "\n")
# ^ Standardize company names
df["Employee"]=df["Employee"].str.lower()
# print(df)

# ^ Add a seniority flag (add new column)
df["senior"] = df["Experience_Years"]> 5

# print(df)

# ^ Create dataset of project budgets
df_projects = pd.DataFrame(
    {
        "Client": ["Kiwilytics", "PwC", "EY", "KPMG", "McKinsey"],
        "Budget_kUSD": [120, 200, np.nan, 150, None],
    }
)
print("ðŸ”¸ Original Budgets:\n", df_projects, "\n")

# ^ Fill missing budgets with mean values using (  .fillna(mean_value)  )
print('\n')

mean = df_projects["Budget_kUSD"].mean()

df_projects.fillna(mean)

print(df_projects.fillna(mean))

#! Grouping & Aggregating DataFrames

df_revenue = pd.DataFrame(
    {
        "Company": ["Kiwilytics", "PwC", "EY", "KPMG", "Kiwilytics", "PwC"],
        "Quarter": ["Q1", "Q1", "Q1", "Q1", "Q2", "Q2"],
        "Revenue_kUSD": [120, 200, 180, 150, 130, 210],
    }
)


# *=========================================================================================

#! Merging DataFrames

df_managers = pd.DataFrame(
    {"ManagerID": [1, 2, 3], "Name": ["Ibrahim", "Maher", "Abdelrahman"]}
)

# print(df_managers)

df_projects = pd.DataFrame(
    {
        "ProjectID": [101, 102, 103],
        "ManagerID": [1, 2, 2],
        "Client": ["Kiwilytics", "PwC", "EY"],
    }
)
# print(df_projects)

      Employee     Company  Experience_Years
0      Youssef  Kiwilytics                 5
1         Toka         PwC                 7
2  Abdelrahman          EY                 3
3        Maher        KPMG                 9




ðŸ”¸ Original Budgets:
        Client  Budget_kUSD
0  Kiwilytics        120.0
1         PwC        200.0
2          EY          NaN
3        KPMG        150.0
4    McKinsey          NaN



       Client  Budget_kUSD
0  Kiwilytics   120.000000
1         PwC   200.000000
2          EY   156.666667
3        KPMG   150.000000
4    McKinsey   156.666667

In [21]:
#
import numpy as np
import pandas as pd


# ^ Create a DataFrame (2D table)

data = {
    "Employee": ["Youssef", "Toka", "Abdelrahman", "Maher"],
    "Company": ["Kiwilytics", "PwC", "EY", "KPMG"],
    "Experience_Years": [5, 7, 3, 9],
}

df = pd.DataFrame(data)


print("ðŸ”¸ Kiwilytics Team:\n", df[df["Company"] == "Kiwilytics"], "\n")
print('\n')
df.loc[df['Company']== "Kiwilytics",'Company']=np.nan

df.loc[df['Company']== "PwC"]=np.nan
# df[df['Company']== "EY",'Company']="hello"
# print(df.loc[df['Company']== "Kiwilytics",'Co
# mpany']=np.nan)
print(df)
# ^ Standardize company names

ðŸ”¸ Kiwilytics Team:
   Employee     Company  Experience_Years
0  Youssef  Kiwilytics                 5



      Employee Company  Experience_Years
0      Youssef     NaN               5.0
1          NaN     NaN               NaN
2  Abdelrahman      EY               3.0
3        Maher    KPMG               9.0